h1 {
    color: brown;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    line-height: 50px;
}

h2 {
    color: brown;
}

/* STYLING IMAGES && LIST */
ol img {
    height: 550px;
    width: 550px;
}

ol {
    list-style: none;
}

ol p {
    color: tomato;
}













